<app-search></app-search>
<div class="post-box">
    Chat bubbles go here
</div>
      <div class="main-page container">
    
        <div class="channels-bar col-md-2">
          <div class="p-info">
              Name<br>
              Handle<br>
              Join date
          </div>
        </div>
    
        </div>

<div class="input-group mb-3" id="chat-input">
    <input type="text" class="form-control" placeholder="Enter message here..." aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
    <button class="btn btn-secondary" type="button" id="button-addon2">Button</button>
    </div>
</div>



