<div class="container">
        <div class="row justify-content-md-center">
           
        <div class="col-md-auto"> 
        <div id="cont">
            <div class="alCenter">
                    <h1>REGISTER USER</h1> <!-- ../regUser -->
                    <form name="regForm" id="regFormid" onsubmit ="return false" method="POST" action="../regUser" >

                        <div class="container">
                            <div class="row">
                                <div class="col-sm-auto">
                                        <h3>Please Enter Your User Information : </h3>
                                        <input type="text" name="chatruser" placeholder="Username" [(ngModel)] = user.chatruser><br>
                                        <input type="password" name="password" placeholder="Password" [(ngModel)] = user.passWord><br>
                                </div>
                            </div>
                        </div>    
                </form>
                <input id="regfrSub" type="button" value="Register" >
                    <button id="goBk" ><a class="reggb"  routerLink="/">Go Back To login</a></button>
            </div>
        </div>
        </div>
        </div>
    </div>