@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#cont {
    margin-top : 10%;
    max-width: 100%;
    padding: 0 10px 10px 10px;
    background-color:  #DADDE2;  
    border: 3px solid #0F2862;
    font-family: 'Roboto', sans-serif;
}

.rgInp {
width : 98%;
padding-left: 4px;
height: 35px;
font-size: 20px;
border: 2px solid none;
} 

#regfrSub{
    font-size: 20px;
    margin-top : 20px;
    width : 100%;
    padding : 10px;
    /*background-color: #2F81FA ;*/
    background-color: #DADDE2;
    border : 3px solid #2F81FA;
    transition : background-color .5s;
    transition : color .5s;

}
#regfrSub:hover {
    color : black;
    background-color : #2F81FA;
}

#goBk {
    color : black;
    font-size: 20px;
    margin-top: 20px;
    width :100%;
    padding:10px;
    background-color: #DADDE2;
    border : 3px solid #2D1606;
    transition : background-color .5s;
    transition : color .5s;
    /* background-color:   ; */

} 
#goBk:hover {
    color : white;
    background-color : #2D1606;
}

.reggb {
    text-decoration: none;
    color : white;
}

.matInp{
    width:100%;
    color :black;
    font-size:20px;
}