<div class="container">
    <div class="row justify-content-md-center">
       
    <div class="col-md-auto"> 
        
        <div id="cont">
      
        <div class="alCenter">
        <h1>CHATR LOGIN : </h1>
        <!-- onsubmit="return loginValidForm()" action="login" method="post"  -->
        <form name="loginForm" (ngSubmit)="login()" method ="post" action="login" onsubmit="return false"  id="loginForm" >
                <input type="text" placeholder="Username" name="username" [(ngModel)] = "user.chatruser" required>
                <input type="password" placeholder="Password" name="password" [(ngModel)] = "user.passWord" required>
           <br>
            <input  value="Login" type="submit" id="frSub"  />
		</form>

        <button id="nrgBtn"><span><a class="rLink" routerLink="/register"> New User </a> </span> </button>
		
        </div>
      
    </div>
    
     
    </div>
</div>