<div class="container">
    <div class="row justify-content-md-center">
       
    <div class="col-md-auto"> 
        
        <div id="cont">
      
        <div class="alCenter">
        <h1>CHATR LOGIN : </h1>
        <!-- onsubmit="return loginValidForm()" action="login" method="post"  -->
        <form name="loginForm" method ="post" action="login" onsubmit="return false"  id="loginForm" >
                <mat-form-field>
                        <input matInput placeholder="Enter your email" [formControl]="email" required>
                </mat-form-field>
            <h3>Email : </h3>
            <input type="email" id="userNameInp"  name="userName" class="inputBox" placeholder="UserName">
            <!-- <span style="color:#380400; font-weight: bold; margin: 10px 0 10px 0;" id="userMes"></span> -->
            <h3>Password : </h3>
            <input type="password" id="passwordInp" name="password" class="inputBox" placeholder="Password">
            <!-- <span style="color:#380400; font-weight: bold; margin:10px 0 10px 0; " id="passMes"></span> -->
            <br>
            <a href="./pages/fgPass.html">Forgot Pass</a>
            <br/> 
            <input  value="Login" type="submit" id="frSub" />
		</form>

        <button id="nrgBtn"><span><a class="rLink" routerLink="/register"> New User </a> </span> </button>
		
        </div>
      
    </div>
    
     
    </div>
</div>