form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid grey;
    float: left;
    /* width: 80%; */
    background: #f1f1f1;
  }
  form.example input[type=text]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    /* padding: 3px 0px 3px 3px; */
    /* margin: 5px 1px 3px 0px; */
    outline: 0;
    border-radius: 5px;
    border: 1px solid rgba(81, 203, 238, 1);
  }
  form.example button {
    /* float: left; */
    /* width: 20%; */
    padding: 12px;
    max-height: 100%;
    display: inline;
    margin-left: 3px;
    border-radius: 5px;
    background: #0F2862;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    /* border-left: none; */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
    border-radius: 5px;
  }

  div.search-container input[type=text] {
    color: white;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid grey;
    float: left;
    /* width: 80%; */
    background: #0F2862;
  }
  div.search-container input[type=text]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    /* padding: 3px 0px 3px 3px; */
    /* margin: 5px 1px 3px 0px; */
    outline: 0;
    border-radius: 5px;
    border: 1px solid rgba(81, 203, 238, 1);
  }
  div.search-container button {
    /* float: left; */
    /* width: 20%; */
    padding: 12px;
    max-height: 100%;
    display: inline;
    margin-left: 3px;
    border-radius: 5px;
    background: #4F5F76;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    /* border-left: none; */
    cursor: pointer;
  }
  div.search-container ::placeholder{
      color: white;
  }
  
  div.search-container button:hover {
    background: #0b7dda;
  }
  
  div.search-container::after {
    content: "";
    clear: both;
    display: table;
  }